.window
  %table.environment
    - html_entities = HTMLEntities.new
    - ENVIRONMENT_ATTRS.each do |key|
      - value = notice.env_vars[key]
      - if value.present?
        %tr
          %th= h(html_entities.decode(key))
          %td.main= h(html_entities.decode(value))
